.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lpart{
    flex: 1;
}
.rpart{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.aboutimg{
    width: 600px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 0%;
}
.icon{
    height: 30px;
    display: block;
}
.info{
    display: block;
}
.infohead{
    font-size: 50px;
    margin-bottom: 0px;
    color: black;
}
.infocon{
    font-size: 27px;
    color: gray;
    margin-top: 10px;
}
.imgicon{
    width: 100px;
    margin-left: 0%;
}
p{
    font-size: 22px;
    color: gray;
}
.goals{
    display: flex;
    flex-direction: row;
}
.mission,.vision{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-right: 20px;
}
.icon-num1,.icon-num2{
    width: 50px;
    margin-left: 20px;
}
.icon-num3{
    width: 50px;
    margin-left: 40px;
}
.num1,.num2{
    margin-left: 20px;
}
.ov,.om{
    color: black;
    font-size: 25px;
}
.how{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.how-icon-1{
    width: 100px;
    height: 100px;
    margin-left: 90px;
}
.how-info{
    margin-top: 0px;
    font-size: 50px;
    color: black;
}