.Header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.Left-section{
  width: 230px;
  align-items: center;
  display: flex;
  margin-right: 100px;
}
.logo{
  height: 55px;
  border-radius: 27px;
  border-width: 5px;
  border-color: rgb(12, 12, 129);
  display: inline-block;
  width: 75px;
}
.title{
  display: inline-block;
  flex: 1;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  font-size: 30px;
  font-weight: 500;
}
.body{
  background-color: #f4f4f4;
  display: flex;
  height: 100vh;
}
.mainContainer{
  width: 400px;
  padding: 20px;
  border: 1px solid;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  justify-content: center;
}

h3,h1 {
  text-align: center;
  margin-bottom: 20px;
}
input {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.submit{
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0056b3;
}

